<div class="container-fluid">
  <div class="userInfo">
    <div class="row browse-border">
      <div class="col-xs-3 col-md-4 col-lg-4 browse-image">
        <img class="img-circle" src="./assets/img/logo.png" width="200" height="200" class="mb-7 hero-image">
      </div>
      <div class="col-xs-3 col-md-4 col-lg-4">
        <p>Hello, I'm Carlos and this is our new theme, Small.<br/>
        It is extremely easy to configure and use. Designed to show your Dribbble shots.<br/>
        No complex stuff. Your logo, your shots & your social links. Easy stuff!</p>
      </div>
    </div>
  </div>
</div>