<div>
	<img src="./assets/img/talkBubble_l.png" width="160px" class="talk-bubble-l">
	<img src="./assets/img/talkBubble_r.png" width="160px" class="talk-bubble-r">
	
</div>
<div class="graphics">
	<img src="./assets/img/male_icon_black.png" width="400px" class="man">
	<img src="./assets/img/female_icon_black.png" width="400px" class="woman">
</div>