
<h2 class="mb-7">Log In</h2>
	<div><input class="user-input form-control" type="email" id="email" placeholder="Email"></div>
	<div><input class="user-input form-control" type="password" id="password" placeholder="Password"></div>

	<button class="btn btn-default" type="button" id="create">Create Account</button>
	<button class="btn btn-default" type="button" id="log-in">Log In</button>