{{!-- This is the form template for the initial profile set-up. --}}

  <section id="work">
  {{!-- form section --}}
      <div class="showcase">
          <div class="showcase-tiles">
              <ul class="slides">
                    
              </ul>
          </div>
          <div class="showcase-info">
              <h2 class="mb-7">Would you rather?</h2>
                  {{!--  --}}
                  <input type="file">

                  <!-- first question -->
                  <input type="radio" name="group1" value="starwars">Star Wars
                  <input type="radio" name="group1" value="startrek">Star Trek

                  <!-- second question -->
                  <input type="radio" name="group1" value="beach">Beach
                  <input type="radio" name="group1" value="mountains">Mountains

                  <!-- third question -->
                  <input type="radio" name="group1" value="hotweather">Hot Weather
                  <input type="radio" name="group1" value="coldweather">Cold Weather

                  <!-- fourth question -->
                  <input type="radio" name="group1" value="cake">Cake
                  <input type="radio" name="group1" value="pie">Pie

                  <!-- fifth question -->
                  <input type="radio" name="group1" value="cats">Cats
                  <input type="radio" name="group1" value="dogs">Dogs

                  <!-- sixth question -->
                  <input type="radio" name="group1" value="god">God 
                  <input type="radio" name="group1" value="satan">Satan

                  <!-- seventh question -->
                  <input type="radio" name="group1" value="republican">Republican
                  <input type="radio" name="group1" value="democrat">Democrat

                  <!-- eighth question -->
                  <input type="radio" name="group1" value="windows">Windows
                  <input type="radio" name="group1" value="apple">Apple

                  <!-- ninth question -->
                  <input type="radio" name="group1" value="polcorrect">Politically Correct 
                  <input type="radio" name="group1" value="polincorrect">Politically Incorrect

                  <!-- tenth question -->
                  <input type="radio" name="group1" value="carrot">Carrot Top
                  <input type="radio" name="group1" value="blieber">Justin Bieber
          </div>
      </div>
  </section>
    
    
 
