{{!-- This is the form template for the initial profile set-up. --}}

  <section id="work">
  {{!-- form section --}}
      <div class="showcase">
          <div class="showcase-tiles">
              <ul class="slides">
                    
              </ul>
          </div>
          <div class="showcase-info">

            <h2 class="mb-7">Love to Hate Profile Setup</h2>
            
                <input type="text" class="form-input" id="name" placeholder="NAME">
                <input type="text" class="form-input" id="gender" placeholder="GENDER">
                <input type="text" class="form-input" id="age" placeholder="AGE">
                <input type="text" class="form-input" id="location" placeholder="LOCATION">

                <input type="url" class="form-input" placeholder="IMAGE URL">

            <h3 class="mb-7">Things you HATE</h3>

            <!-- first question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options1" id="option1" value="Star Wars"autocomplete="off"> Star Wars 
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options1" id="option2" value="Star Trek"autocomplete="off"> Star Trek
                  </label>
                </div>
              </div>
            </div>

            <!-- second question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options2" id="option1" value="Beach"autocomplete="off"> Beach
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options2" id="option2" value="Mountains"autocomplete="off"> Mountains
                  </label>
                </div>
              </div>
            </div>

            <!-- third question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options3" id="option1" value="Hot"autocomplete="off"> Hot Weather
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options3" id="option2" value="Cold"autocomplete="off"> Cold Weather
                  </label>
                </div>
              </div>
            </div>

            <!-- fourth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options4" id="option1" value="Cake"autocomplete="off"> Cake
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options4" id="option2" value="Pie"autocomplete="off"> Pie
                  </label>
                </div>
              </div>
            </div>

            <!-- fifth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options5" id="option1" value="Cats"autocomplete="off"> Cats
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options5" id="option2" value="Dogs"autocomplete="off"> Dogs
                  </label>
                </div>
              </div>
            </div>

            <!-- sixth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options6" id="option1" value="God"autocomplete="off"> God
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options6" id="option2" value="Satan"autocomplete="off"> Satan
                  </label>
                </div>
              </div>
            </div>

            <!-- seventh question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options7" id="option1" value="Republican"autocomplete="off"> Republican
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options7" id="option2" value="Democrat"autocomplete="off"> Democrat
                  </label>
                </div>
              </div>
            </div>

            <!-- eighth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options8" id="option1" value="Windows"autocomplete="off"> Windows
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options8" id="option2" value="Apple"autocomplete="off"> Apple
                  </label>
                </div>
              </div>
            </div>

            <!-- ninth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options9" id="option1" value="PC" autocomplete="off"> Politically Correct
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options9" id="option2" value="NPC"autocomplete="off"> Politically Incorrect
                  </label>
                </div>
              </div>
            </div>

            <!-- tenth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options10" id="option1" value="CT"autocomplete="off"> Carrot Top
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options10" id="option2" value="JB"autocomplete="off"> Justin Bieber
                  </label>
                </div>
              </div>
            </div>

            {{!-- form submit button --}}
            <button type="button" class="btn btn-danger btn-lg" id="submit">Full of Hate, Ready to Date</button>
            {{!-- <button type="submit"></button> --}}
            
          </div>
      </div>
  </section>
    
    
 
