{{!-- This is the form template for the initial profile set-up. --}}

  <section id="work">
  {{!-- form section --}}
      <div class="showcase">
          <div class="showcase-tiles">
              <ul class="slides">
                    
              </ul>
          </div>
          <div class="showcase-info">

            <h2 class="mb-7">Love to Hate Profile Setup</h2>
            
                <input type="text" class="user-input" name="name" placeholder="NAME">
                <input type="text" class="user-input" name="gender" placeholder="GENDER">
                <input type="text" class="user-input" name="age" placeholder="AGE">
                <input type="text" class="user-input" name="location" placeholder="LOCATION">

                <input type="url" class="user-input" placeholder="IMAGE URL">

            <h3 class="mb-7">Things you HATE</h3>

            <!-- first question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off"> Star Wars 
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Star Trek
                  </label>
                </div>
              </div>
            </div>

            <!-- second question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Beach
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Mountains
                  </label>
                </div>
              </div>
            </div>

            <!-- third question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Hot Weather
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Cold Weather
                  </label>
                </div>
              </div>
            </div>

            <!-- fourth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Cake
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Pie
                  </label>
                </div>
              </div>
            </div>

            <!-- fifth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Cats
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Dogs
                  </label>
                </div>
              </div>
            </div>

            <!-- sixth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> God
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Satan
                  </label>
                </div>
              </div>
            </div>

            <!-- seventh question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Republican
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Democrat
                  </label>
                </div>
              </div>
            </div>

            <!-- eighth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Windows
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Apple
                  </label>
                </div>
              </div>
            </div>

            <!-- ninth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Politically Correct
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Politically Incorrect
                  </label>
                </div>
              </div>
            </div>

            <!-- tenth question -->
            <div class="row">
              <div class="col-md-12"></div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Carrot Top
                  </label>
                  <label class="btn btn-danger btn-lg">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Justin Bieber
                  </label>
                </div>
              </div>
            </div>

            {{!-- form submit button --}}
            <button type="button" class="btn btn-danger btn-lg">Full of Hate, Ready to Date</button>
            {{!-- <button type="submit"></button> --}}
            
          </div>
      </div>
  </section>
    
    
 
